# =============================================================================
# PROJECT
# =============================================================================
[project]
name = "{{project_name}}"
description = "{{project_description}}"
readme = "README.md"
requires-python = ">={{python_version}}"
version = "0.1.0"
authors = [{ name = "{{user_name}}", email = "{{user_email}}" }]

# =============================================================================
# PROJECT DEPENDENCIES
# =============================================================================
dependencies = []

[project.optional-dependencies]
cicd = ["python-semantic-release==10.*"] # 8.7.0
dev = [
    "pandas",
    "pandas-stubs",
    "azure-storage-blob",
    "azure-identity",
    "databricks-connect==17.3",
]
dev_ext = ["pyspark", "jupyter", "delta-spark", "pyarrow"]

# =============================================================================
# PROJECT BUILD
# =============================================================================
[build-system]
requires = ["uv_build"]
build-backend = "uv_build"

# =============================================================================
# PROJECT ENTRYPOINTS
# =============================================================================
# [project.scripts]
# entrypoint_name = "package_name.module_name:function"

# =============================================================================
# UV
# =============================================================================
[tool.uv]
# options: "clone" (copy), "symlink", "hardlink", "reflink"
link-mode = "hardlink"
python-preference = "only-managed"

# =============================================================================
# RUFF
# =============================================================================
[tool.ruff]
line-length = 110

# =============================================================================
# MYPY
# =============================================================================
[tool.mypy]
python_version = "{{python_version}}"
warn_return_any = true
warn_unused_configs = true
exclude = "scratch/*"
disable_error_code = "attr-defined"

[[tool.mypy.overrides]]
module = ["pyspark.*", "schedule"]
ignore_missing_imports = true
disable_error_code = "attr-defined"

# =============================================================================
# SEMANTIC RELEASE
# =============================================================================
[tool.semantic_release]
version_toml = ["pyproject.toml:project.version"]
version_variables = ["src/{{package_name}}/__init__.py:__version__"]
assets = []
commit_message = "{version}\n\nAutomatically generated by python-semantic-release"
commit_parser = "angular"
logging_use_named_masks = false
major_on_zero = true
tag_format = "{version}"
build_command = "uv build"

[tool.semantic_release.commit_parser_options]
allowed_tags = [
    "build",
    "chore",
    "ci",
    "docs",
    "feat",
    "fix",
    "perf",
    "style",
    "refactor",
    "test",
    "ci",
    "powerbi",
]
minor_tags = ["feat"]
patch_tags = ["fix", "perf", "refactor", "ci"]

[tool.semantic_release.branches.main]
match = "(.*)"

[tool.semantic_release.publish]
upload_to_vcs_release = true
dist_glob_patterns = ["dist/*.whl"]

[tool.semantic_release.changelog]
template_dir = "resources/sem_rel_changelog_template"

# Gitlab
[tool.semantic_release.remote]
name = "origin"
type = "gitlab"
ignore_token_for_push = false
token = { env = "GL_TOKEN" }
domain = "code.exaas.bosch.com"
api_domain = "/api/v4"

# Github
# [tool.semantic_release.remote]
# name = "origin"
# type = "github"
# ignore_token_for_push = true
# token = { env = "GH_TOKEN" }
# domain = "github.com"
# api_domain = "api.github.com"
